
<form method="post" action="{{action}}">
    <fieldset>
        <legend>{{default form_title "Ajout d'un editeur"}}</legend>

        {{> form_field
                name="name"
                type="text"
                required="required"
                label_text="Nom :"
                placeholder="Le nom de l'editeur"
                value=editor_name
        }}

        <div class="form_field">
            <label for="games">Ses jeux</label>
            <select name="games" id="games" multiple>
                {{#each games}}
                    <option value="{{id}}"
                    {{#if (is_in id ../ids)}}
                        selected
                    {{/if}}
                    >{{title}}</option>
                {{/each}}
            </select>
        </div>

        <input type="submit" value="{{ default submit_text "Ajouter"}}">
    </fieldset>
</form>
