<section class="DragDropSection disable">
    <div class="blurBox"></div>
    <img class="DragDropImg" src="/Images/DRAG_AND_DROP.png" loading="lazy" alt="Image drag & drop"/>
</section>
<form action="{{ default action "/games"}}" method="post" enctype="multipart/form-data">
    {{#if highlighted}}
        <input hidden name="highlighted" value="{{highlighted}}" type="text"/>
    {{/if}}
    {{#if filename}}
        <input hidden name="filename" value="{{filename}}" type="text"/>
    {{/if}}
    <fieldset>
        <legend>{{form_title}}</legend>
        <section>

            {{> form_field
                name="title"
                placeholder="Le titre de votre jeu"
                required="required"
                label_text="Titre du jeu :"
                value=title
            }}

            {{> form_field
                    name="releaseDate"
                    required="required"
                    label_text="Date de sortie"
                    type="Date"
                    value=date
            }}

            <div class="vertical_form_field">
                <label for="desc">Description du jeu</label>
                <textarea required name="desc" id="desc" placeholder="Une belle description pour votre jeu ?" rows="3" cols="20">{{desc}}</textarea>
            </div>

            <div class="form_field">
                <label for="genreId">Genre du jeu :</label>
                <select id="genreId" name="genreId">
                    {{#each genres}}
                        <option value="{{id}}"
                            {{#if (areSame name ../genreName)  }}
                                selected
                            {{/if}}
                        >
                            {{name}}
                        </option>
                    {{/each}}
                </select>
            </div>

            <div class="form_field">
                <label for="editorId">Editeur du jeu :</label>
                <input name="editorId"  id="editorId" list="editor-choice"
                       {{#if editorName}}
                            value="{{editorName}}"
                       {{else}}
                           placeholder="Aucun éditeur"
                       {{/if}}
                />
                <datalist id="editor-choice" >
                    {{#each editors}}
                        <option>{{name}}</option>
                    {{/each}}
                </datalist>
            </div>

            <div class="vertical_form_field">
                <label for="file" id="file-drop">
                    Cliquez ou glissez
                </label>
                <input type="file" name="file" id="file"
                    {{#if file_required}}
                       required
                    {{/if}}
                       hidden accept="image/*">
            </div>

            <section id="preview-container">
                {{#if filename}}
                    <img src="/uploads/{{filename}}" alt="preview image {{title}}" />
                {{else}}
                    <img src="/Images/gameImageDefault.jpeg" alt="image par défaut" />
                {{/if}}
            </section>
            <input type="submit" value="{{ default submit_text "Ajouter"}}">
        </section>
    </fieldset>
</form>

<script type="text/javascript" src="/scripts/dropFile.js">
</script>