<div class="editButtons">
    <div class="butons">
        <button type="submit" class="button" onclick="DeleteGame({{id}})"><img src="/Images/deleteButton.png"></button>
        <form action="/games/{{id}}/edit" method="get">
            <!--                    <input type="submit" value="Modifier">-->
            <button type="submit" class="button"><img src="/Images/editButton.png"></button>
        </form>
    </div>
    <div class="checkbox">
        <label>Mettre en avant : </label>
        {{#if highlighted}}
            <input type="checkbox" onclick="CheckReload({{id}})" checked value="Mettre en avant">
        {{else}}
            <input type="checkbox" onclick="CheckReload({{id}})" value="Mettre en avant">
        {{/if}}
    </div>
</div>

<script src="/scripts/buttons.js" type="text/javascript">
</script>