<div class="{{ default form_class "form_field" }}">
    <label for="{{name}}">{{label_text}}</label>
    <input type="{{type}}"
           name="{{name}}"
           placeholder="{{placeholder}}"
           id="{{name}}"
           value="{{value}}"
    {{required}}>
</div>