<ul>
    {{#each games}}
        <li>
            <fieldset>
                <legend>
                    <a class="link" href="/games/{{id}}"><b>{{title}}</b> <i>({{Year releaseDate}})</i></a>
                </legend>
                <a href="/games/{{id}}"><img src="{{filename}}" class="gameImage"></a>
                {{> editButtons}}
            </fieldset>
        </li>
    {{/each}}
</ul>