<ul>
    {{#each games}}
        <li>
            <fieldset>
                <legend>
                    <a href="/games/{{id}}"><b>{{title}}</b></a>
                    <i>({{Year releaseDate}})</i>
                </legend>
                <a href="/games/{{id}}"><img src="{{filename}}" class="gameImage"></a>
                {{> editButtons}}
            </fieldset>
        </li>
    {{/each}}
</ul>