<fieldset>
    <legend>
        <div class="title">
            <h1>{{game.title}}</h1>
            <p class="releaseDate">
                <i>{{dateFormat game.releaseDate}}</i>
            </p>
        </div>
    </legend>

    {{#if game.filename}}
        <img src="/uploads/{{game.filename}}" alt="Icon - {{game.title}}" class="gameImage"/>
    {{else}}
        <img src="/Images/gameImageDefault.jpeg" alt="Icon - {{game.title}}" class="gameImage" />
    {{/if}}
    <ul>
        {{#if game.editor}}
            <li><i>editeur :</i> <b class="boldList">
                <a class="link" href="/editors/{{game.editor.id}}">{{game.editor.name}}</a>
            </b></li>
        {{/if}}
        <li><i>genre :</i> <b class="boldList">
            <a class="link" href="/genres/{{game.genre.id}}">{{game.genre.name}}</a>
        </b></li>
    </ul>
    <p class="desc">{{game.desc}}</p>
    {{> editButtons id=game.id highlighted=game.highlighted}}
</fieldset>

<script>
    const image = document.querySelector('.gameImage');
    image.addEventListener('error', () => {
       image.src = '/Images/gameImageDefault.jpeg';
    })
</script>
<script src="/scripts/buttons.js" type="text/javascript">
</script>
